<h2>Resultado da busca</h2>

<div class="row mb-3">
    <label for="exampleFormControlInput1" class="form-label">CEP</label>
    <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" value="@Model.CEP" disabled>
</div>
<div class=" row mb-3">
    <label for="exampleFormControlInput1" class="form-label">Codigo Logradouro</label>
    <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" value="@Model.CodigoLogradouro" disabled>
</div>
<div class=" row mb-3">
    <label for="exampleFormControlInput1" class="form-label">Municipio</label>
    <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" value="@Model.Municipio" disabled>
</div>
<div class=" row mb-3">
    <label for="exampleFormControlInput1" class="form-label">Logradouro</label>
    <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" value="@Model.Logradouro" disabled>
</div>
<br />
<div class="row mb-3">
    <a href="/CEP" class="btn btn-primary btn-lg">Nova Busca</a>
</div>

